{% extends 'encabesado.html' %}
{% block title %} Nosotros {% endblock %}

{% block content %}

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Petology</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../static/nosotros/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/nosotros/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="../static/nosotros/css/responsive.css" rel="stylesheet" />
</head>

<div class="carousel-container">
    <div class="card">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url(../static/images/VITAFARM\ BANNER.jpg);"
                    data-bs-interval="5000">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="container">
    <section class="about_section layout_padding">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <style>
                        .justificado {
                            text-align: justify;
                        }
                    </style>
                    <div class="img-box">
                        <img src="../static/images/vitafarm logo.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <h2 class="custom_heading">
                            Vitafarm
                            <span>
                                Clínica
                            </span>
                        </h2>
                        <p class="justificado">
                            Descubre Vitafarm, la clínica veterinaria ubicada en la encantadora ciudad de Riobamba. Nos
                            dedicamos apasionadamente al cuidado de tus adorables mascotas, ofreciendo una amplia gama
                            de servicios como vacunación, ecografía, atención de emergencias y cirugía, junto con una
                            variedad de implementos y alimentos para su bienestar. Nuestro equipo altamente capacitado y
                            comprometido se esfuerza por brindar una atención integral, asegurando la salud y felicidad
                            de tus compañeros peludos. ¡Confía en Vitafarm para el cuidado veterinario excepcional que
                            tus mascotas merecen!
                        </p>
                        <div>
                            <a href="">
                                About More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- service section -->
<section class="service_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-2">
                <h2 class="custom_heading">
                    Nuestros <span>Servicios</span>
                </h2>
                <div class="container layout_padding2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img_box">
                                <img src="../static/nosotros/images/s-1.png" alt="">
                            </div>
                            <div class="detail_box">
                                <h6>
                                    Vacunas
                                </h6>
                                <p>
                                    Vitafarm protege a tu mascota mediante vacunación personalizada para su bienestar.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img_box">
                                <img src="../static/nosotros/images/s-2.png" alt="">
                            </div>
                            <div class="detail_box">
                                <h6>
                                    Hospitalización
                                </h6>
                                <p>
                                    Vitafarm brinda hospitalización veterinaria personalizada para el cuidado de tu
                                    mascota.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img_box">
                                <img src="../static/nosotros/images/s-3.png" alt="">
                            </div>
                            <div class="detail_box">
                                <h6>
                                    Emergencia
                                </h6>
                                <p>
                                    Vitafarm atiende emergencias veterinarias con prontitud y cuidado.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img_box">
                                <img src="../static/nosotros/images/laboratory.png" alt="">
                            </div>
                            <div class="detail_box">
                                <h6>
                                    Laboratorio
                                </h6>
                                <p>
                                    Vitafarm cuenta con laboratorio veterinario para análisis y diagnósticos precisos.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img_box">
                                <img src="../static/nosotros/images/doctor.png" alt="">
                            </div>
                            <div class="detail_box">
                                <h6>
                                    Cirugía
                                </h6>
                                <p>
                                    Vitafarm realiza cirugías veterinarias con profesionalismo y cuidado.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img_box">
                                <img src="../static/nosotros/images/vet.png" alt="">
                            </div>
                            <div class="detail_box">
                                <h6>
                                    Consulta externa
                                </h6>
                                <p>
                                    Vitafarm ofrece servicios de consulta externa veterinaria con atención
                                    especializada.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../static/nosotros/images/tool.png" alt="" class="w-100">
            </div>
        </div>
    </div>
</section>

<!-- end service section -->

<!-- gallery section -->
<section class="gallery-section layout_padding">
    <style>
        .black-text {
            color: black;
        }
    </style>
    <div class="container">
        <h2 class="black-text">
            Nuestro Trabajo
        </h2>
    </div>
    <style>
        .image {
            width: 300px;
            /* Ancho deseado */
            height: 300px;
            /* Altura automática para mantener la proporción */
        }
    </style>
    <div class="container">
        <div class="img_box box-3">
            <img src="../static/nosotros/images/galeria.jpg" alt="">
        </div>
        <div class="img_box box-3">
            <img src="../static/nosotros/images/galeria2.jpg" class="image" alt="">
        </div>
        <div class="img_box box-3">
            <img src="../static/nosotros/images/galeria3.jpg" alt="">
        </div>
        <div class="img_box box-3">
            <img src="../static/nosotros/images/galeria4.jpg" alt="">
        </div>
        <div class="img_box box-3">
            <img src="../static/nosotros/images/galeria5.jpg" alt="">
        </div>
        <div class="img_box box-3">
            <img src="../static/nosotros/images/galeria6.jpg" alt="">
        </div>
    </div>
</section>

<!-- map section -->
<div class="container">
    <br>
    <section>
        <div class="row">
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d997.0273944087497!2d-78.65147163045918!3d-1.6769298998942124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1686988873942!5m2!1ses!2sec"
                    width="500" height="380" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h2 class="custom_heading">
                        Vitafarm
                        <span>
                            Ubicación
                        </span>
                    </h2>
                    <p class="justificado">
                        Vitafarm, la clínica veterinaria ubicada en la encantadora ciudad de Riobamba, te da la
                        bienvenida. Nos dedicamos apasionadamente al cuidado de tus adorables mascotas, ofreciendo una
                        amplia gama de servicios de calidad. Nuestro equipo altamente capacitado y comprometido se
                        esfuerza por brindar una atención integral, asegurando la salud y el bienestar de tus compañeros
                        peludos. Confía en nosotros para proporcionar el cuidado veterinario excepcional que tus
                        mascotas merecen. ¡Visítanos en nuestra ubicación cerca de este hermoso entorno en Riobamba!
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- end map section -->
<!-- info section -->
<section class="info_section layout_padding2">
    <div class="container">
        <div class="info_items">
            <a href="https://goo.gl/maps/HtN5ZYPYHjdj2MK46">
                <div class="item ">
                    <div class="img-box box-1">
                        <img src="" alt="">
                    </div>
                    <div class="detail-box">
                        <p>
                            Colombia y Tarqui Riobamba
                        </p>
                    </div>
                </div>
            </a>
            <a href="https://wa.me/0980237364/?text=Hola, necesito mas información de sus servicios">
                <div class="item">
                    <div class="img-box box-2">
                        <img src="" width="52px">
                    </div>
                    <div class="detail-box">
                        <p>
                            0980237364
                        </p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="item ">
                    <div class="img-box box-3">
                        <img src="" alt="">
                    </div>
                    <div class="detail-box">
                        <p>
                            vitafarm@gmail.com
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- end info_section -->

<!-- footer section -->
<section class="container-fluid footer_section">
    <p>
        &copy; 2023 All Rights Reserved By
        <a href="{{url_for('home')}}">Mathew Avilés</a>
    </p>
</section>
<!-- footer section -->

{% endblock %}